<span class="btn btn-success btn-sm" ui-sref="invoice.new">Add new invoice</span>
<table class="table table-bordered" ng-if="vm.invoices.length">
    <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Discount</th>
        <th>Updated at</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="invoice in vm.invoices">
        <td>{{ ::invoice.id }}</td>
        <td>{{ ::invoice.total }}</td>
        <td>{{ ::invoice.discount }}</td>
        <td>{{ ::invoice.updatedAt | date:'medium'}}</td>
        <td>
            <span class="btn btn-info btn-xs glyphicon glyphicon-pencil" ui-sref="invoice.edit({id: invoice.id})"></span>
            <span class="btn btn-danger btn-xs glyphicon glyphicon-remove" ng-click="vm.deleteInvoice(invoice, $index)"></span>
        </td>
    </tr>
</table>