<div class="panel panel-default">
    <div class="panel-body">
        <form name="productForm" class="row">

            <div class="form-group  col-md-6">
                <label for="basic-addon1">Name</label>
                <input type="text"
                       class="form-control"
                       ng-model="vm.data.name"
                       id="basic-addon1"
                       required>
            </div>

            <div class="form-group  col-md-6">
                <div class="alert alert-danger" role="alert" ng-if="!productForm.price.$valid && productForm.price.$dirty">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter a valid price
                </div>
                <label for="basic-addon2">Price</label>
                <input type="number"
                       ng-model="vm.data.price"
                       name="price"
                       class="form-control"
                       min="0"
                       id="basic-addon2">
            </div>

            <div class="form-group">
                <span class="btn btn-default col-md-4 col-md-offset-4" ng-click="vm.saveProduct()">
                    Create
                </span>
            </div>

        </form>
    </div>
</div>