<form name="invoiceForm">
    <div class="form-group">
        <select class="form-control" ng-model="vm.data.customer_id" ng-change="vm.saveInvoice()" required>
            <option value="" selected disabled>Select customer</option>
            <option ng-value="customer.id" ng-repeat="customer in vm.customers">{{ customer.name }} ({{ customer.phone }})</option>
        </select>
    </div>

    <div class="form-group row">
        <div class="col-md-11">
            <select class="form-control" ng-model="vm.productItem" required>
                <option value="" selected disabled>Select Product</option>
                <option ng-value="product" ng-repeat="product in vm.products" ng-if="!product.selected">{{ product.name }} ({{ product.price }})</option>
            </select>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default btn-block" type="button" ng-click="vm.addProduct(vm.productItem)">Add</button>
        </div>
    </div>

    <table class="table table-bordered" ng-if="vm.data.products.length">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="product in vm.data.products">
            <td>{{ ::product.item.name }}</td>
            <td>{{ ::product.item.price }}</td>
            <td>
                {{ product.count }}
            </td>
            <td>
                <span class="btn btn-success btn-xs glyphicon glyphicon-plus" ng-click="vm.changeProductCount(product, 1)"></span>
                <span class="btn btn-success btn-xs glyphicon glyphicon-minus" ng-click="vm.changeProductCount(product, -1)"></span>
                <span class="btn btn-danger btn-xs glyphicon glyphicon-remove" ng-click="vm.deleteProduct(product, $index)"></span>
            </td>
        </tr>
    </table>

    <div class="alert alert-danger" role="alert" ng-if="!invoiceForm.discount.$valid">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Enter a valid discount
    </div>
    <div class="input-group">
        <input type="number"
               ng-model="vm.data.discount"
               ng-change="vm.saveInvoice()"
               name="discount"
               class="form-control"
               min="0"
               max="100"
               placeholder="Discount"
               aria-label="Discount">
        <span class="input-group-addon">%</span>
    </div>

    <div class="pull-right">
        <h3>
            Total price: {{ vm.totalPrice() }}
        </h3>
    </div>

</form>