<form name="productForm">
    <saving-process created="vm.isCreated" saved="vm.isSaved"></saving-process>

    <div class="form-group">
        <label for="basic-addon1">Name</label>
        <input type="text"
               class="form-control"
               ng-model="vm.data.name"
               ng-change="vm.saveProduct()"
               id="basic-addon1"
               required>
    </div>

    <div class="form-group">
        <div class="alert alert-danger" role="alert" ng-if="!productForm.price.$valid">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid price
        </div>
        <label for="basic-addon2">Price</label>
        <input type="number"
               ng-model="vm.data.price"
               ng-change="vm.saveProduct()"
               name="price"
               class="form-control"
               min="0"
               id="basic-addon2">
    </div>
</form>