<form name="productForm">

    <saving-process created="vm.isCreated" saved="vm.isSaved"></saving-process>

    <div class="form-group">
        <label for="basic-addon1">Name</label>
        <input type="text"
               class="form-control"
               ng-model="vm.data.name"
               ng-change="vm.saveCustomer()"
               id="basic-addon1"
               required>
    </div>

    <div class="form-group">
        <label for="basic-addon2">Address</label>
        <input type="text"
               class="form-control"
               ng-model="vm.data.address"
               ng-change="vm.saveCustomer()"
               id="basic-addon2"
               required>
    </div>

    <div class="form-group">
        <label for="basic-addon3">Phone</label>
        <input type="text"
               class="form-control"
               ng-model="vm.data.phone"
               ng-change="vm.saveCustomer()"
               id="basic-addon3"
               required>
    </div>

</form>